project:
  type: website
  output-dir: docs  

website:
  title: "Sito di Luca Daniello"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: Chi sono

format:
  html:
    theme: cosmo  
    css: styles.css
    toc: true


